.img1 {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 123px;
}
.buscador {
    width: 200px;
    margin-left: 150px;
    margin-bottom: 0px;
    bottom: auto;
    border-radius: 0px;
}
.ico {
    width: 59px;
    height: auto;
    margin-left: 40px;
}
.header {
    height: 110px;
    width: 1250px;
    color: #E36F0A;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: 44px;
}
#menu li {
    height: 0px;
    display: inline-block;
    margin-left: 10px;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-right: -10px;
    color: #292525;
    font-size: 11px;
    vertical-align: middle;
    background-color: #F29F05;
    text-align: center;
    width: 95px;
    border-radius: 0px 40px 12px 0px;
    border: 5px solid #F29F05;
	top: 0px}